table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgba(236, 144, 24, 0.692);
}

td, th {
    text-align: left;
    padding: 8px;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #f3e0e0;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
