table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgba(5, 53, 4, 0.692);
    font-size:large;
}

td, th {
    text-align: left;
    padding: 8px;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #d1b411;
}

body {
    justify-content: center;
    align-items: center;
}

.estilo {
    background-color: rgba(9, 255, 0, 0.39);
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}